/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e853e;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/*** Custom styles for class reference ***/

/* Highlighting for parameters and default values */
.parameters, .default_value {
  color: gray
}

/* Highlighting for reference type prefix (var, func, enum, etc.) */
.reference-type {
  font-weight: bold;
  color: palegreen
}

/* Highlighting for return types (-> void, -> String, etc.) */
.return-type {
  font-weight: bold;
  color: white
}

/* Highlighting for alert texts */
.alert-text {
  color: tomato;
}

/* Highlighting for abstract class indication */
.abstract-class-label {
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  color: lightcoral
}

/* Highlighting for abstract method indication */
.abstract-method-label {
  color: lightcoral
}

/* Highlighting for virtual method indication */
.virtual-method-label {
  font-weight: bold;
  color: gray
}