/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #96d35f;
  --ifm-color-primary-dark: #86cc47;
  --ifm-color-primary-darker: #7ec93b;
  --ifm-color-primary-darkest: #68a82e;
  --ifm-color-primary-light: #a6da77;
  --ifm-color-primary-lighter: #aedd83;
  --ifm-color-primary-lightest: #aedd83;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #96d35f;
  --ifm-color-primary-dark: #86cc47;
  --ifm-color-primary-darker: #7ec93b;
  --ifm-color-primary-darkest: #68a82e;
  --ifm-color-primary-light: #a6da77;
  --ifm-color-primary-lighter: #aedd83;
  --ifm-color-primary-lightest: #c5e7a7;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/*** Custom styles for class reference ***/

/* Highlighting for parameters and default values */
.parameters, .default_value {
  color: rgb(151, 151, 151)
}

/* Highlighting for reference type prefix (var, func, enum, etc.) */
.reference-type {
  font-weight: bold;
  color: #68a82e
}

/* Highlighting for return types (-> void, -> String, etc.) */
.return-type {
  font-weight: bold;
}

/* Highlighting for alert texts */
.alert-text {
  color: tomato;
}

/* Highlighting for abstract class indication */
.abstract-class-label {
  font-style: italic;
  font-weight: bold;
  font-size: x-large;
  color: lightcoral
}

/* Highlighting for abstract method indication */
.abstract-method-label {
  color: lightcoral
}

/* Highlighting for virtual method indication */
.virtual-method-label {
  font-weight: bold;
  color: gray
}